.App .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.App .trigger:hover {
  color: #1890ff;
}

.App .logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  img {
    height: 100%;
    margin-right: 5px;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}